---
---
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{ page.title }}</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="css/agency.min.css" rel="stylesheet">

    <!-- Temporary navbar container fix -->
    <style>
.navbar-toggler {
  z-index: 1;
}

        @media (max-width: 576px) {
          nav > .container {
            width: 100%;
          }
        }
    </style>

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar fixed-top navbar-toggleable-md navbar-inverse" id="mainNav">
      <div class="container">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu <i class="fa fa-bars"></i>
        </button>
        <a class="navbar-brand" href="#page-top">{{ page.title }}</a>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="#services">{{ page.menu-services }}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#portfolio">{{ page.menu-portfolio }}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#about">{{ page.menu-about }}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#team">{{ page.menu-team }}</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Header -->
    <header class="masthead">
      <div class="container">
        <div class="intro-text">
          <div class="intro-lead-in">{{ page.welcome }}</div>
          <div class="intro-heading">{{ page.nice-to-meet-you }}</div>
          <a href="#services" class="btn btn-xl">{{ page.tell-me-more }}</a>
        </div>
      </div>
    </header>

    <!-- Services -->
    <section id="services">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">{{ page.services-title }}</h2>
            <h3 class="section-subheading text-muted">{{ page.services-content }}</h3>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa {{ page.first-service-icon }} fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">{{ page.first-service-title }}</h4>
            <p class="text-muted">{{ page.first-service-content }}</p>
          </div>
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa {{ page.second-service-icon }} fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">{{ page.second-service-title }}</h4>
            <p class="text-muted">{{ page.second-service-content }}</p>
          </div>
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa {{ page.third-service-icon }} fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">{{ page.third-service-title }}</h4>
            <p class="text-muted">{{ page.third-service-content }}</p>
          </div>
      </div>
    </section>

    <!-- Portfolio Grid -->
    <section class="bg-faded" id="portfolio">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">{{ page.portfolio-title }}</h2>
            <h3 class="section-subheading text-muted">{{ page.portfolio-content }}</h3>
          </div>
        </div>
        <div class="row">
          {% for item in page.portfolio-items %}
            <div class="col-md-4 col-sm-6 portfolio-item">
              <div class="portfolio-link" data-toggle="modal" href="#portfolioModal{{ forloop.index }}">
                <div class="portfolio-hover">
                  <div class="portfolio-hover-content">
                    <i class="fa fa-plus fa-3x"></i>
                  </div>
                </div>
                <img class="img-fluid" src="{{ item.image }}" alt="">
              </div>
              <div class="portfolio-caption">
                <h4>Threads</h4>
                <p class="text-muted">{{ item.description }}</p>
              </div>
            </div>

            <!-- Modal 1 -->
            <div class="portfolio-modal modal fade" id="portfolioModal{{ forloop.index }}" tabindex="-1" role="dialog" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                      <div class="rl">
                      </div>
                    </div>
                  </div>
                  <div class="container">
                    <div class="row">
                      <div class="col-lg-8 offset-lg-2">
                        <div class="modal-body">
                          <img class="img-fluid d-block mx-auto" src="{{ item.image }}" alt="">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          {% endfor %}
        </div>
      </div>
    </section>

    <!-- About -->
    <section id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">About</h2>
            <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <ul class="timeline">
              {% for story in page.our-story %}
                <li class="{{ story.inverted }}">
                  <div class="timeline-image">
                    <img class="rounded-circle img-fluid" src="{{ story.image }}" alt="">
                  </div>
                  <div class="timeline-panel">
                    <div class="timeline-heading">
                      <h4>{{ story.date }}</h4>
                      <h4 class="subheading">{{ story.title }}</h4>
                    </div>
                    <div class="timeline-body">
                      <p class="text-muted">{{ story.description }}</p>
                    </div>
                  </div>
                </li>
              {% endfor %}
              <li class="timeline-inverted">
                <div class="timeline-image">
                  <h4>{{ page.story-start }}</h4>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <!-- Team -->
    <section class="bg-faded" id="team">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">{{ page.team-title }}</h2>
            <h3 class="section-subheading text-muted">{{ page.team-content }}</h3>
          </div>
        </div>
        <div class="row">
          {% for member in page.team-members %}
            <div class="col-sm-4">
              <div class="team-member">
                <img class="mx-auto rounded-circle" src="{{ member.image }}" alt="">
                <h4>Kay Garland</h4>
                <p class="text-muted">{{ member.position }}</p>
                <ul class="list-inline social-buttons">
                  <li class="list-inline-item">
                    <a href="{{ member.instagram }}"><i class="fa fa-instagram"></i></a>
                  </li>
                  <li class="list-inline-item">
                    <a href="{{ member.facebook }}"><i class="fa fa-facebook"></i></a>
                  </li>
                </ul>
              </div>
            </div>
          {% endfor %}
        </div>
        <div class="row">
          <div class="col-lg-8 offset-lg-2 text-center">
            <p class="large text-muted">{{ page.team-description }}</p>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <span class="copyright">{{ page.copyright }}</span>
          </div>
          <div class="col-md-4">
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="{{ page.instagram }}"><i class="fa fa-instagram"></i></a>
              </li>
              <li class="list-inline-item">
                <a href="{{ page.facebook }}"><i class="fa fa-facebook"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

    <!-- Portfolio Modals -->

    {{ content }}

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/tether/tether.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Contact form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/agency.js"></script>

  </body>

</html>
